@primary-color : #EF5A35;
@primaryb-color : #ce4f2f;
@second-color : black;
@secondb-color : rgb(56, 56, 56);
@text-color: #fff;
@text2-color: rgb(190, 190, 190);
@header: white;


.logo img{
    color: @primary-color;
    background-color: @primary-color;
}
.header.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 0px;
}
.action{
    &.primary{
        background-color: @primary-color;
        border-color: @primary-color;
    }
}
.action.primary:hover{
    background-color: @primaryb-color;
    border-color: @primaryb-color;
    
}
.page-header .panel.wrapper{
    background-color: @second-color;
}
.page-header{
    background-color: @header;
}
.nav-sections-items-content{
    background-color: @second-color;
    color: @text-color !important;
}
.navigation{
    background: @second-color;
    color: @text-color !important;
    max-width: 100% !important;
    margin: 0px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
}
.navigation .level10 > .level-top{
    color: @text-color
}
.logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin: 0px !important;
}
.navigation .level0 > .level-top{
    color: @text-color !important;
}
.navigation .level0 > .level-top:hover{
    color: @text2-color !important;
}
.navigation .level0 .submenu{
    background-color: @primary-color;
    border-color: @second-color;
}
.navigation .level0 .submenu li span{
    color: @text-color !important;
}
.navigation .level0 .submenu li:hover span{
    color: @second-color !important;
}
.navigation .level0 .submenu .active > a{
    color: @text-color !important;
}
.navigation .level0 .submenu .active > a:hover{
    color: @second-color !important;
}
.navigation .level0 .submenu > a{
    color: @text2-color !important;
}
.navigation .level0 .submenu > a:hover{
    color: @secondb-color !important;
}
.page-footer{
    background-color: black;
    a{
        color: @text-color !important;
    }
    a:hover{
        color: @text2-color !important;
    }
}
.copyright{
    background-color: @primary-color;
}
.page-header{
    background-color: @text-color;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    background-color: @text-color !important;
    color: @text-color !important;
}
.product-item-info{
    border: 1px solid @text2-color;
    padding: 3px;
}
.product-item-inner{
    background-color: @text-color;
    color: @text-color !important;
}
* {
    font-family: 'Roboto', sans-serif;
}
.page-header .panel.wrapper{
    border-bottom: 0px !important;
}
.header.content ul{
    display: none !important;
}